# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

## Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

| Data science tools |  
|:------------------:|
|  Jupyter notebook  |  
|  Git               |  
|  Rstudio           |

### Below are a few examples of evaluating arithmetic expression in python

In [17]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
 - List popular languages for Data Science
    - Identify common data science libraries
    - Summarize data science tools
    - Demonstrate basic arithmetic operations in Python

## Author
  ### Arunima